@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-*: initial;
  --font-iran_Bold: iran_Bold;
  --font-iran_Medium: iran_Medium;
  --font-iran_Regular: iran_Regular;
  --font-iran_Light: iran_Light;

  --color-main_Snapp: #00d170;
  --color-header: #3c4151;
  --color-green1: #21aa58;
}
@layer base {
  @font-face {
    font-family: "iran_Bold";
    src: url(fonts/IRANSansXFaNum-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "iran_iran_Medium";
    src: url(fonts/IRANSansXFaNum-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "iran_Regular";
    src: url(fonts/IRANSansXFaNum-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "iran_Light";
    src: url(fonts/IRANSansXFaNum-Light.ttf) format("truetype");
  }
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5) !important;
  width: 10px;
  height: 10px;
  opacity: 1;
  margin: 0 3px;
  transition: all 0.3s;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
  width: 12px;
  height: 12px;
}

